@import "./constants";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: $lightGray;
  color: $black;
  font-family: "Montserrat", sans-serif;
}

#root {
  position: relative;
}

.wrapper--main {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}